#governance {
  .inner_container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .heading {
    margin-bottom: 26px;
    font-family: "Mazzard", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #242424;
  }

  .workers {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 245px;

    .avatar {
      width: 100%;
      max-width: 240px;
      margin-bottom: 5px;
    }

    &__card {
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      padding: 60px 0 56px 60px;
      background: #f4f7fb;
      border-radius: 10px;
    }

    &__info {
      width: 100%;
      margin-left: 100px;
      min-height: 100%;

      tbody {
      }
    }

    &__info-row {
      height: 20% !important;
      td {
      }
      td:nth-child(1) {
        font-family: "Mazzard", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 36px;
        color: #242424;
        p {
          // margin-bottom: auto;
        }
      }

      td:nth-child(2) {
        width: 539px;
        font-family: "Mazzard", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: #242424;
      }
    }
  }

  @media only screen and (max-width: 1170px) {
    .workers__card {
      flex-direction: column;
      padding: 50px 0 40px 0;
    }

    .avatar {
      margin: 0 auto;
      margin-bottom: 40px !important;
    }

    .workers {
      .avatar {
      }

      &__card {
      }

      &__info {
        width: 100%;
        max-width: 65%;
        margin-left: 0;
        padding-left: 70px;
        tbody {
        }
      }

      &__info-row {
        display: flex;
        flex-direction: column;
        td {
          margin-bottom: 15px;
        }
        td:nth-child(1) {
          font-weight: 600;
        }

        td:nth-child(2) {
          width: 100%;
          font-weight: normal;
        }
      }
    }
  }

  @media only screen and (max-width: 760px) {
    .workers__card {
      //  padding: 50px 10px 40px 70px;
    }

    .workers__info {
      margin-left: 0;
      padding-left: 40px;
    }

    .workers {
      &__info-row {
        td {
        }
        td:nth-child(1) {
          font-size: 24px;
        }

        td:nth-child(2) {
          font-size: 22px;
        }
      }
    }
  }
}
