.structura__heading {
	display: block;
	margin: 0;
   margin-bottom: 95px;
	font-family: 'Mazzard', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #242424;
}

.structura__img{
   width: 100%;
   max-width: 1517px;
   display: block;
   margin: 0 auto;
}
